body {
  margin: 0;
  padding: 0;
  user-select: none;
}

figure {
  margin: 0;
  padding: 0;
  user-select: none;
}

h2 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 900;
  color: black;
}

h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  color: black;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  padding: 20px 0 5px 0;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.2);
}

#logo {
  object-fit: cover;
  width: 180px;
  height: auto;
}

.nav {
  display: none;
}

@media (min-width: 768px) {
  header {
    justify-content: space-between;
    background-color: lightgray;
    padding: 15px 10px 5px 5px;
  }
  #logo {
    object-fit: cover;
    width: 130px;
    height: auto;
  }
  .nav {
    display: flex;
  }
}
.nav__link--purple {
  font-family: Shrikhand;
  font-size: 16px;
  font-weight: 300;
  color: #9356DC;
}
.nav__link--purple:hover {
  color: #ae80e5;
}

.form {
  width: max-content;
  box-sizing: border-box;
}
.form__input::placeholder {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 450;
  color: black;
}

.btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 450;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn--rounded {
  border-radius: 0 7px 7px 0;
}
.btn--ellipse {
  border-radius: 50px;
}
.btn--big {
  padding: 15px 20px 15px 20px;
}
.btn--purple {
  background: linear-gradient(351deg, rgb(147, 86, 220) 0%, rgba(255, 0, 243, 0.81) 100%);
}
.btn--blue {
  background-color: #0065FC;
}
.btn--borderless {
  border: none;
}
.btn:hover {
  filter: brightness(105%);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.lbl {
  display: inline-block;
  border: none;
  margin: 0;
}
.lbl--circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.lbl--small {
  padding: 5px;
}
.lbl--purple {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 450;
  color: white;
  background-color: #9356DC;
}
.information {
  display: flex;
  flex-flow: column wrap;
}
.information .location {
  display: flex;
  justify-content: center;
  background-color: rgba(210, 210, 210, 0.35);
  padding: 15px 10px 10px 10px;
}
.information .location #location_smartphone {
  display: flex;
}
.information .location #location_smartphone .fa-location-dot {
  line-height: 23px;
}
.information .location #location_smartphone h5 {
  margin: 0 0 0 20px;
}
.information .location #location_tablet {
  display: none;
}
.information .exploration {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(210, 210, 210, 0.15);
  padding: 20px 10px 40px 10px;
}
.information .exploration h2 {
  margin-bottom: 20px;
}
.information .exploration p {
  text-align: center;
  margin: 20px 0 40px 0;
  width: 300px;
}
.information .explanation {
  padding: 20px 10px 40px 30px;
}
.information .explanation .cards {
  padding-left: 10px;
}
.information .explanation .cards .card {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0 20px 0;
  margin-bottom: 25px;
  border-radius: 20px;
  background-color: rgba(210, 210, 210, 0.2);
  width: 350px;
  cursor: pointer;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.2);
}
.information .explanation .cards .card:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.information .explanation .cards .card:hover .fa-solid {
  color: #9356DC;
}
.information .explanation p {
  position: relative;
  left: -10px;
  padding: 7px 7px 7px 8px;
  line-height: 12px;
}
.information .explanation .fa-solid {
  color: grey;
  line-height: 25px;
  margin: 0 0 0 10px;
}
.information .explanation h5 {
  margin: 0 0 0 20px;
}

@media (min-width: 768px) {
  .information .exploration {
    align-items: flex-start;
    background-color: white;
    padding-bottom: 0;
    order: 1;
  }
  .information .exploration h2 {
    margin: 0 0 5px 0;
  }
  .information .exploration p {
    width: max-content;
    margin: 0;
  }
  .information .exploration button {
    display: none;
  }
  .information .location {
    justify-content: flex-start;
    background-color: white;
    order: 2;
  }
  .information .location #location_smartphone {
    display: none;
  }
  .information .location #location_tablet {
    display: flex;
    flex-flow: column wrap;
  }
  .information .location #location_tablet h5 {
    margin: 5px 0 10px 0;
  }
  .information .explanation {
    padding-left: 10px;
    order: 3;
  }
  .information .explanation .cards {
    display: flex;
    flex-flow: row wrap;
    gap: 2.5%;
  }
  .information .explanation .cards .card {
    width: max-content;
  }
  .information .explanation h1 {
    margin: 0 0 20px 0;
  }
  .information .explanation p {
    position: relative;
    left: -10px;
    line-height: 12px;
  }
  .information .explanation .fa-solid {
    color: grey;
    line-height: 25px;
    margin: 0 5px 0 0;
  }
  .information .explanation h5 {
    margin: 0 6px 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
