.information .location .fa-location-dot {
  line-height: 16px;
}
.information .explanation .fa-solid {
  color: grey;
  line-height: 25px;
  margin: 0 0 0 10px;
}

.form .fa-solid {
  background-color: #EDEDED;
  border-right: 1px solid lightgray;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

footer .fa-solid {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .information .explanation .fa-solid {
    color: grey;
    line-height: 25px;
    margin: 0 5px 0 0;
  }
}
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

figure {
  margin: 0;
  padding: 0;
  user-select: none;
}

h2 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  color: black;
}

h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.header-homepage {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px 0 5px 0;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.header-homepage #logo {
  width: 170px;
  height: auto;
  object-fit: cover;
}
.header-restaurant {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px 33% 5px 15px;
}
.header-restaurant .fa-solid {
  position: relative;
  top: 7px;
}
.header-restaurant figure {
  display: inline-block;
}
.header-restaurant #logo {
  width: 170px;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .header-homepage #logo {
    width: 130px;
    height: auto;
    object-fit: cover;
  }
  .header-restaurant {
    justify-content: center;
    padding: 15px 0 5px 0;
  }
  .header-restaurant .fa-solid {
    display: none;
  }
  .header-restaurant #logo {
    width: 130px;
    height: auto;
    object-fit: cover;
  }
}
.nav-rest {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.nav-dishes {
  padding: 0;
}

@media (min-width: 768px) {
  .nav-rest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1.5%;
  }
  .nav-dishes {
    display: flex;
    flex-flow: row wrap;
    gap: 1%;
  }
}
.form {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 7px;
  width: fit-content;
}
.form__input {
  border: none;
  width: 120px;
}
.form__input::placeholder {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 450;
  color: black;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 15px 30px;
  margin: 0;
}
footer h5 {
  margin: 10px 0 10px 0;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
footer a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
footer a:hover {
  color: #9356DC;
}

@media (min-width: 768px) {
  footer h5 {
    text-align: center;
  }
}
.btn {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 450;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--rounded {
  border-radius: 0 5px 5px 0;
}
.btn--ellipse {
  border-radius: 50px;
}
.btn--big {
  padding: 15px 20px 15px 20px;
}
.btn--long {
  padding-left: 60px;
  padding-right: 60px;
}
.btn--purple {
  background: linear-gradient(351deg, rgb(147, 86, 220) 0%, rgba(255, 0, 243, 0.81) 100%);
}
.btn--blue {
  background-color: #0065FC;
}
.btn--borderless {
  border: none;
}
.btn:hover {
  filter: brightness(102%);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.card-expl {
  display: flex;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  margin-bottom: 25px;
  margin-right: 2%;
  width: 350px;
  cursor: pointer;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.2);
}
.card-expl:hover {
  background-color: rgba(150, 85, 220, 0.15);
}
.card-prev {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.2);
}
.card-prev__image {
  border-radius: 15px 15px 0 0;
  width: 350px;
  height: 160px;
  object-fit: cover;
}
.card-prev__info {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 10px;
}
.card-prev__heading {
  margin: 10px 0 5px 0;
}
.card-prev__byline {
  margin: 0 0 10px 0;
}
.card-prev__label {
  position: relative;
  left: 265px;
  bottom: 170px;
  background-color: #99E2D0;
  border-radius: 3px;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-bottom: -50px;
  width: 75px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  color: green;
}
.card-prev:hover {
  background-color: rgba(150, 85, 220, 0.15);
  transform: scale(1.01);
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.4);
}
.card-dish {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px 15px 10px 15px;
  min-width: 325px;
  cursor: pointer;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.1);
}
.card-dish__heading {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.card-dish__info {
  display: flex;
  justify-content: space-between;
}
.card-dish__byline {
  margin: 10px 0 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  color: black;
}
.card-dish__price {
  margin: 10px 0 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

@media (min-width: 768px) {
  .card-expl {
    width: max-content;
  }
  .card-dish {
    width: 325px;
  }
}
@media (min-width: 1025px) {
  .card-prev__image {
    width: 230px;
    height: 100px;
    object-fit: cover;
  }
  .card-prev__label {
    left: 150px;
    bottom: 110px;
  }
}
.lbl {
  display: inline-block;
  border: none;
  margin: 0;
}
.lbl--circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.lbl--small {
  padding: 5px;
}
.lbl--purple {
  background-color: #9356DC;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 450;
  color: white;
}

.list-footer {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 0;
}
.list-footer__link {
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  color: white;
}

@media (min-width: 768px) {
  .list-footer {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
.information {
  display: flex;
  flex-flow: column wrap;
}
.information .location {
  display: flex;
  justify-content: center;
  background-color: rgba(210, 210, 210, 0.35);
  padding: 15px 15px 10px 15px;
}
.information .location #location_smartphone {
  display: flex;
}
.information .location #location_smartphone h5 {
  margin: 0 0 0 20px;
}
.information .location #location_tablet {
  display: none;
}
.information .exploration {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #FAFAFA;
  padding: 20px 0 40px 0;
}
.information .exploration h2 {
  margin-bottom: 20px;
}
.information .exploration p {
  text-align: center;
  margin: 20px 0 40px 0;
  width: 300px;
}
.information .explanation {
  padding: 20px 10px 40px 30px;
}
.information .explanation .cards {
  padding-left: 10px;
}
.information .explanation .cards .card-expl:hover .fa-solid {
  color: #9356DC;
}
.information .explanation p {
  position: relative;
  left: -10px;
  line-height: 12px;
  padding: 7px 7px 7px 8px;
}
.information .explanation h5 {
  margin: 0 0 0 20px;
}

#restaurants {
  background-color: #FAFAFA;
  padding: 0 20px 20px 30px;
}
#restaurants #thefullpalette {
  object-position: 50% 85%;
}
#restaurants #theenchantedplate {
  object-position: 50% 57%;
}
#restaurants #bastille {
  object-position: 50% 80%;
}
#restaurants #legourmand {
  object-position: 50% 90%;
}

@media (min-width: 768px) {
  .information .exploration {
    background-color: #FAFAFA;
    padding: 20px 0 20px 0;
    order: 2;
  }
  .information .exploration h2 {
    margin: 0 0 10px 0;
  }
  .information .exploration p {
    width: max-content;
    margin: 0 0 10px 0;
  }
  .information .location {
    justify-content: flex-start;
    background-color: #EDEDED;
    order: 1;
  }
  .information .location #location_smartphone {
    display: none;
  }
  .information .location #location_tablet {
    display: flex;
    flex-flow: column wrap;
  }
  .information .location #location_tablet h5 {
    margin: 5px 0 10px 0;
  }
  .information .location #location_tablet button {
    height: 26px;
  }
  .information .explanation {
    padding: 0 0 0 15px;
    order: 3;
  }
  .information .explanation .cards {
    display: flex;
    gap: 2%;
  }
  .information .explanation .cards .card-expl h5 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  .information .explanation h1 {
    margin: 0 0 20px 0;
  }
  .information .explanation p {
    position: relative;
    left: -10px;
    line-height: 12px;
  }
  .information .explanation h5 {
    margin: 0 6px 0 0;
  }
  #restaurants {
    padding-left: 15px;
  }
  #restaurants h2 {
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  #restaurants {
    margin-bottom: 59px;
  }
}
.restaurant-preview {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#menus {
  position: relative;
  bottom: 45px;
  background-color: #F5F5F5;
  border-radius: 45px 45px 0 0;
  margin: 0 0 -45px 0;
  padding: 40px 15px 40px 15px;
}
#menus h2 {
  margin-top: 0px;
}
#menus h5 {
  position: relative;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  color: black;
}
#menus h5::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  content: "";
}
#menus span {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
}

@media (min-width: 768px) {
  .restaurant-preview {
    object-position: 50% 60%;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  #menus {
    border-radius: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
