//Styling of the footer for the homepage and menus

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px 15px 30px;

    &__heading {
        margin: 10px 0;
        @include title-font(18px, $normal, $white);
    }

    a {
        @include text-font(16px, $normal, $white);

        &:hover {
            color: $primary-color;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .footer {
        &__heading {
            text-align: center;
        }
    }
}