.form {
    border: 1px solid lightgray;
    border-radius: 7px;
    background-color: white;
    width: fit-content;

    &__input {
        border: none;
        width: 120px;

        &::placeholder {
            @include text-font(14px, 450, black)
        }
    }
}