//Styling of forms elements

.form {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    //Width use only the available space (never more than with max-content)
    width: fit-content;

    &__input {
        //Erase border of the text input area
        border: none;
        width: 120px;

        &::placeholder {
            @include text-font(14px, 450, black)
        }
    }
}