header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    padding: 20px 0 5px 0;
    @include card-shadow(0.2);
}

#logo {
    @include picture-scaling(180px, auto);
}

@media (min-width: $breakpoint-tablet) {
    header {
        justify-content: space-between;
        padding: 15px 10px 5px 5px;
    }

    #logo {
        @include picture-scaling(130px, auto);
    }
}