//Styling of navigation elements

.nav {
    &-expl {
        padding-left: 10px;
    }

    &-rest {
        //Vertically align and center restaurant cards
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    &-dishes {
        padding: 0;
    }
}

@media (min-width: $breakpoint-tablet) {
    .nav {
        &-expl {
            //Horizontally align explanation cards
            display: flex;
            //Add a small gap between items
            gap: 2%;
        }

        &-rest {
            //Horizontally align items and space them evenly on the x-axis
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            //Add a small gap between items
            gap: 5%;
        }

        &-dishes {
            display: flex;
            flex-flow: row wrap;
            gap: 1%;
        }
    }
}

@media (min-width: $breakpoint-computer) {
    .nav {
        &-rest {
            justify-content: flex-start;
        }

        &-dishes {
            flex-flow: column wrap;
        }
    }
}