//Styling of navigation elements

.nav {
    &-rest {
        //Vertically align and center items
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media (min-width: $breakpoint-tablet) {
    .nav {
        &-rest {
            //Horizontally align items and space them evenly on the x-axis
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            //Add a small gap between items
            gap: 1.5%;
        }
    }
}