//Styling of all buttons 

.btn {
    cursor: pointer;
    @include text-font(16px, 450, $white);
    @include button-shadow(.2);

    //Round the right edges of the button
    &--rounded {
        border-radius: 0 5px 5px 0;
    }

    //Let the button take an elliptic form
    &--ellipse {
        border-radius: 50px;
    }

    //Greatly increase the button size
    &--big {
        padding: 15px 20px;
    }

    //Greatly increase the button length
    &--long {
        padding-left: 60px;
        padding-right: 60px;
    }

    //Set a purple gradient color for the button
    &--purple {
        background: linear-gradient(351deg,$primary-color 0%,$secondary-color 100%);
    }

    //Erase the button border
    &--borderless {
        border: none;
    }

    &:hover {
        filter: brightness(102%);
        @include button-shadow(.3);
    }
}