//Styling of all cards 

.card {

    //Information section cards
    &-expl {
        //Horizontally align text and icons
        display: flex;
        background-color: $secondary-grey;
        border-radius: 20px;
        padding: 20px 0;
        margin-bottom: 25px;
        margin-right: 2%;
        width: 350px;
        cursor: pointer;
        @include card-shadow(.2);

        &__heading {
            margin: 0 0 0 20px;
        }

        &:hover {
            background-color: $hover-purple;
        }

        //Change icons color when hovering on the cards
        &:hover .fa-solid {
            color: $primary-color;
        }
    }

    //Restaurants cards
    &-prev {
        background-color: $white;
        border-radius: 15px;
        margin-bottom: 20px;
        @include card-shadow(.2);

        //Style the restaurant image 
        &__image {
            border-radius: 15px 15px 0 0;
            @include picture-scaling(350px, 160px);
        }

        //Style the restaurant information 
        &__info {
            //Vertically align text and pack them at the top
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            padding-left: 10px;
            width: 100%;
        }

        &__heading {
            margin: 10px 0 5px 0;
        }

        &__byline {
            margin: 0 0 10px 0;
        }

        //Style the restaurant card green label
        &__label {
            //Position the label
            position: relative;
            left: 265px;
            bottom: 170px;
            background-color: $tertiary-color;
            border-radius: 3px;
            text-align: center;
            padding: 5px 0;
            //Deal with position: relative blank space
            margin-bottom: -50px;
            width: 75px;
            @include text-font(16px, $normal, green);
        }

        &:hover {
            @include card-shadow(.4);
        }
    }

    //Dishes cards
    &-dish {
        //Vertically align dishes from the menu
        display: flex;
        justify-content: space-between;
        background-color: $white;
        border-radius: 15px;
        margin-bottom: 15px;
        min-width: 325px;
        //Text ellipsis when it overflows
        overflow: hidden;
        text-overflow: ellipsis;
        animation: appear 4.5s both;
        cursor: pointer;
        @include card-shadow(.1);
        @include animation-delay;

        &__heading {
            margin: 0;
            @include text-font(16px, $bold, $black);
        }

        &__info {
            //Horizontally align dishes supplementary information and price before spacing them to both edge of the container
            display: flex;
            flex-flow: column wrap;
            white-space: nowrap;
            margin: 10px 0 10px 15px;
        }

        &__byline {
            //Text ellipsis when it overflows
            overflow: hidden;
            text-overflow: ellipsis;
            width: 293px;
            margin: 5px 0 0 0;
            transition: width 1.5s;
            @include text-font(14px, $normal, $black);
        }

        &__price {
            margin: 34px 0 5px 0;
            @include text-font(14px, $bold, $black);
        }

        &__check {
            display: flex;
        }

        &__circle {
            //Position the white circle
            position: relative;
            top: 17px;
            left: 15px;
            background-color: $white;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            animation-delay: 2s;
        }

        //Style a green square containing the circle with the checkmark
        &__checkmark {
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            width: 60px;
            margin: 0 -61px 0 15px;
            transition: margin-right 1.5s;
        }

        &:hover .card-dish__checkmark {
            margin-right: 0;
        }

        &:hover .card-dish__circle {
            animation: rotate-three-quarter 2s ease forwards;
        }

        &:hover .card-dish__byline {
            width: 250px;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .card {
        &-expl {
            //Change width to fit screen size
            width: max-content;

            &__heading {
                margin: 3px 6px 0 0;
                @include text-font(16px, $bold, $black);
            }
        }

        &-dish {
            width: 360px;
        }
    }
}

@media (min-width: $breakpoint-computer) {
    .card {
        &-prev {
            margin-bottom: 87px;

            //Change restaurant image to fit screen size
            &__image {
                @include picture-scaling(240px, 110px);
            }

            //Re-position green label
            &__label {
                left: 160px;
                bottom: 120px;
            }
        }
    }
}

//Move checkmark from right to left 
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

//Make the circle containing the checkmark do a 270°
@keyframes rotate-three-quarter {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(360deg);
    }
}