//Styling of all cards 

.card {

    //Information section cards
    &-expl {
        //Vertically align items
        display: flex;
        background-color: $secondary-grey;
        border-radius: 20px;
        padding: 20px 0 20px 0;
        margin-bottom: 25px;
        width: 350px;
        cursor: pointer;
        @include card-shadow(.2);

        &:hover {
            background-color: $hover-purple;
        }
    }

    //Restaurants cards
    &-prev {
        background-color: white;
        border-radius: 15px;
        margin-bottom: 20px;
        @include card-shadow(0.2);

        //Style the restaurant image 
        &__image {
            border-radius: 15px 15px 0 0;
            @include picture-scaling(350px, 160px);
        }

        //Style the restaurant information 
        &__info {
            //Vertically align text and pack them at the top
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            padding-left: 10px;
        }

        &__heading {
            margin: 10px 0 5px 0;
        }

        &__byline {
            margin: 0 0 10px 0;
        }

        //Style the restaurant card green label
        &__label {
            position: relative;
            left: 265px;
            bottom: 170px;
            background-color: $tertiary-color;
            border-radius: 3px;
            text-align: center;
            padding: 5px 0 5px 0;
            margin-bottom: -50px;
            width: 75px;
            @include text-font(16px, normal, green);
        }

        &:hover {
            background-color: $hover-purple;
            //Slightly increase card size when hovering it
            transform: scale(1.01);
            @include card-shadow(0.4);
        }
    }

    //Dishes cards
    &-dish {
        //Vertically align dishes from the menu
        display: flex;
        flex-flow: column wrap;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px 15px 10px 15px;
        min-width: 275px;
        cursor: pointer;
        @include card-shadow(0.1);

        &__heading {
            margin: 0;
            @include text-font(16px, bold, black);
        }

        &__info {
            //Horizontally align dishes supplementary information and price before spacing them to both edge of the container
            display: flex;
            justify-content: space-between;
        }

        &__byline {
            margin: 10px 0 0 0;
            @include text-font(14px, normal, black);
        }

        &__price {
            margin: 10px 0 0 0;
            @include text-font(14px, bold, black);
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .card {
        &-expl {
            //Change width to fit screen size
            width: max-content;
        }
    }
}

@media (min-width: $breakpoint-computer) {
    .card {
        &-prev {

            //Change restaurant image to fit screen size
            &__image {
                @include picture-scaling(230px, 100px);
            }

            //Re-position green label
            &__label {
                left: 150px;
                bottom: 110px;
            }
        }
    }
}