//Styling of all labels

.lbl {
    //Change display to align with other items
    display: inline-block;
    border: none;
    margin: 0;
    z-index: 0;

    //Styling of a small circle
    &--circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

    //Increase size of the label
    &--small {
        padding: 5px;
    }

    //Set the background color of the label to purple
    &--purple {
        background-color: $primary-color;
        @include text-font(14px, 450, white);
    }
}