//Styling of all lists

.list {
    &-footer {
        //Vertically align items
        display: flex;
        flex-flow: column wrap;
        //Erase the dot 
        list-style: none;
        padding: 0;

        &__link {
            margin-bottom: 5px;
            @include text-font(16px, $normal, $white);
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .list {
        &-footer {
            //Horizontally align items and space them evenly
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
}