//Styling of all loaders

.loader {
    &-spinner {
        //Use fixed to make the loader appears above everything else
        position: fixed;
        top: 0;
        left: 0;
        //Position the loading spinner to the center of the screen
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        animation: background-shift 5s ease forwards;

        //Create the green rotating part
        &::after {
            content: "";
            border: 15px solid $secondary-grey;
            border-top-color: $tertiary-color;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            animation: loading 4s ease forwards;
        }
    }
}

//Make the green pseudo-element rotate
@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

//Gradually turn the background transparent and position the loader div element to the back
@keyframes background-shift {
    from {
        background: $loader-background;
        opacity: 1;
        z-index: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}