.information {
    display: flex;
    flex-flow: column wrap;

    .location {
        display: flex;
        justify-content: center;
        background-color: rgba(210, 210, 210, 0.35);
        padding: 15px 15px 10px 15px;

        #location_smartphone {
            display: flex;

            h5 {
                margin: 0 0 0 20px;
            }
        }

        #location_tablet {
            display: none;
        }
    }

    .exploration {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: rgba(210, 210, 210, 0.15);
        padding: 20px 0 40px 0;

        h2 {
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            margin: 20px 0 40px 0;
            width: 300px;
        }
    }

    .explanation {
        padding: 20px 10px 40px 30px;

        .cards {
            padding-left: 10px;

            .card-expl {
                &:hover .fa-solid {
                    color: $primary-color;
                }
            }
        }

        p {
            position: relative;
            left: -10px;
            padding: 7px 7px 7px 8px;
            line-height: 12px;
        }

        h5 {
            margin: 0 0 0 20px;
        }
    }
}

#restaurants {
    background-color: rgba(210, 210, 210, 0.15);
    padding: 0 20px 20px 30px;

    #thefullpalette {
        object-position: 50% 85%;
    }

    #theenchantedplate {
        object-position: 50% 57%;
    }

    #bastille {
        object-position: 50% 80%;
    }

    #legourmand {
        object-position: 50% 90%;
    }
}

@media (min-width: $breakpoint-tablet) {
    .information {
        .exploration {
            background-color: rgba(210, 210, 210, 0.35);
            padding: 20px 0 20px 0;
            order: 1;

            h2 {
                margin: 0 0 10px 0;
            }

            p {
                width: max-content;
                margin: 0 0 10px 0;
            }
        }

        .location {
            justify-content: flex-start;
            background-color: rgba(210, 210, 210, 0.15);
            order: 2;

            #location_smartphone {
                display: none;
            }

            #location_tablet {
                display: flex;
                flex-flow: column wrap;

                h5 {
                    margin: 5px 0 10px 0;
                }

                button {
                    height: 26px;
                }
            }
        }

        .explanation {
            padding: 0 0 0 15px;
            order: 3;

            .cards {
                display: flex;
                flex-flow: row wrap;
                gap: 2%;
            }

            h1 {
                margin: 0 0 20px 0;
            }

            p {
                position: relative;
                left: -10px;
                line-height: 12px;
            }

            h5 {
                margin: 0 6px 0 0;
            }
        }
    }

    #restaurants {
        padding-left: 15px;
        
        h2 {
            margin-top: 0px;
        }
    }
}