//Smartphone version SCSS for the homepage

//SCSS for the information section listing some basic information about the website 
.information {
    //Vertically align all sections
    display: flex;
    flex-flow: column wrap;

    .location {
        //Horizontally align and center icon and text
        display: flex;
        justify-content: center;
        background-color: rgba(210, 210, 210, 0.35);
        padding: 15px 15px 10px 15px;

        #location_smartphone {
            //Horizontally align search form items
            display: flex;

            h5 {
                margin: 0 0 0 20px;
            }
        }

        #location_tablet {
            //Do not display the item
            display: none;
        }
    }

    .exploration {
        //Vertically align and center header and text
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: $tertiary-grey;
        padding: 20px 0 40px 0;

        h2 {
            margin-bottom: 20px;
        }

        p {
            //Center text inside its container
            text-align: center;
            margin: 20px 0 40px 0;
            //Create a text container
            width: 300px;
        }
    }

    .explanation {
        padding: 20px 10px 40px 30px;

        .cards {
            padding-left: 10px;

            .card-expl {

                //Change icons color when hovering on the cards
                &:hover .fa-solid {
                    color: $primary-color;
                }
            }
        }

        p {
            //Position numbers inside the purple circle
            position: relative;
            left: -10px;
            line-height: 12px;
            padding: 7px 7px 7px 8px;
        }

        h5 {
            margin: 0 0 0 20px;
        }
    }
}

//SCSS for the main section showcasing the restaurants
#restaurants {
    background-color: $tertiary-grey;
    padding: 0 20px 20px 30px;

    #thefullpalette {
        //Specify the alignment of the picture
        object-position: 50% 85%;
    }

    #theenchantedplate {
        object-position: 50% 57%;
    }

    #bastille {
        object-position: 50% 80%;
    }

    #legourmand {
        object-position: 50% 90%;
    }
}

//Tablet version SCSS for the homepage
@media (min-width: $breakpoint-tablet) {
    .information {
        .location {
            //Items are packed toward the left edge of the container
            justify-content: flex-start;
            order: 1;

            #location_smartphone {
                display: none;
            }

            //Styling of the search form
            #location_tablet {
                //Vertically align items
                display: flex;
                flex-flow: column wrap;

                h5 {
                    margin: 5px 0 10px 0;
                }

                button {
                    height: 26px;
                }
            }
        }

        .exploration {
            padding: 20px 0 20px 0;
            //Change the order of the section
            order: 2;

            h2 {
                margin: 0 0 10px 0;
            }

            p {
                //Ideal width size
                width: max-content;
                margin: 0 0 10px 0;
            }
        }

        .explanation {
            padding: 0 0 0 15px;
            order: 3;

            .cards {
                //Horizontally align explanation cards
                display: flex;
                //Add a small gap between items
                gap: 2%;

                .card-expl {
                    h5 {
                        @include text-font(16px, bold, black);
                    }
                }
            }

            h1 {
                margin: 0 0 20px 0;
            }

            p {
                position: relative;
                left: -10px;
                line-height: 12px;
            }

            h5 {
                margin: 0 6px 0 0;
            }
        }
    }

    #restaurants {
        padding-left: 15px;

        h2 {
            margin-top: 0px;
        }
    }
}