//Smartphone version SCSS for the homepage

//SCSS for the information section listing some basic information about the website 
.information {
    //Vertically align all sections
    display: flex;
    flex-flow: column wrap;

    .location {
        //Horizontally align and center icon and text
        display: flex;
        justify-content: center;
        background-color: rgba(210, 210, 210, .35);
        padding: 15px 15px 10px 15px;

        &__heading {
            margin: 0 0 0 20px;
        }

        #location-smartphone {
            //Horizontally align search form items
            display: flex;
        }

        #location-tablet {
            //Do not display the item
            display: none;
        }
    }

    .exploration {
        //Vertically align and center header and text
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: $tertiary-grey;
        padding: 20px 0 40px 0;

        &__heading {
            margin-bottom: 20px;
        }

        &__byline {
            //Center text inside its container
            text-align: center;
            margin: 20px 0 40px 0;
            //Create a text container
            width: 300px;
        }
    }

    .explanation {
        padding: 20px 10px 40px 30px;

        .lbl {
            //Position numbers inside the purple circle
            position: relative;
            left: -10px;
            line-height: 12px;
            padding: 7px 7px 7px 8px;
        }
    }
}

//SCSS for the main section showcasing the restaurants
#restaurants {
    background-color: $tertiary-grey;
    padding: 0 20px 20px 30px;

    #thefullpalette {
        //Specify the alignment of the picture
        object-position: 50% 85%;
    }

    #theenchantedplate {
        object-position: 50% 57%;
    }

    #bastille {
        object-position: 50% 80%;
    }

    #legourmand {
        object-position: 50% 90%;
    }
}

//Tablet version SCSS for the homepage
@media (min-width: $breakpoint-tablet) {
    .information {
        .location {
            //Items are packed toward the left edge of the container
            justify-content: flex-start;
            order: 1;

            &__heading {
                margin: 5px 0 10px 0;
            }

            #location-smartphone {
                display: none;
            }

            //Styling of the search form
            #location-tablet {
                //Vertically align items
                display: flex;
                flex-flow: column wrap;

                .btn {
                    height: 26px;
                }
            }
        }

        .exploration {
            padding: 20px 0;
            //Change the order of the section
            order: 2;

            &__heading {
                margin: 0 0 10px 0;
            }

            &__byline {
                //Ideal width size
                width: max-content;
                margin: 0 0 10px 0;
            }
        }

        .explanation {
            padding: 0 0 0 15px;
            order: 3;

            .lbl {
                position: relative;
                left: -10px;
                line-height: 12px;
            }
        }
    }

    .restaurants {
        padding-left: 15px;

        &__heading {
            margin-top: 0;
        }
    }
}