@mixin clean{
    margin: 0;
    padding: 0;
    user-select: none;
}

@mixin brighten($color, $percentage){
    color: lighten($color, $percentage);
}

@mixin text-font($size, $weight, $color){
    font-family: Roboto;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin title-font($size, $weight, $color){
    font-family: Shrikhand;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin picture-scaling($width, $height){
    object-fit: cover;
    width: $width;
    height: $height;
}

@mixin button-shadow($opacity){
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,$opacity);
}

@mixin card-shadow($opacity){
    box-shadow: 3px 3px 13px 1px rgba(0,0,0,$opacity);
}