//Color palets
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-grey: #EDEDED;
$secondary-grey: #F5F5F5;
$tertiary-grey: #FAFAFA;
$loader-background: #333333;

//Hover color palets
$hover-purple: rgb(150, 85, 220, 0.15);

//Media queries breakpoint
$breakpoint-tablet: 800px;
$breakpoint-computer: 1200px;